body{
    margin: 0;
    padding:0;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 2% 5%;
}
.login-button{
    padding: 5px 25px;
    font-family: 'Roboto';
    background-image: linear-gradient(90deg, #3AE4DF, #7A88FF);
    border-radius: 5px;
    border:none;
    color: white;
}
.top{
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, #FFFCEB 0%, #EAFFFE 100%);
    padding: 45px;
}
.halfwidth{
    width: 40% ;
}
.halfwidth img{
    width: 537px;
}
.roboto{
    font-family: 'Roboto';
}
.open-sans{
    font-family: 'Open Sans';
}
#test{

font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 68px;
letter-spacing: 0em;
text-align: left;

}
#labib{
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}
.enroll{
    margin-top: 35px;
    padding: 10px 30px;
}
.left{
    margin-left: 40px;
}